.container {
  max-width: none !important;
}
body {
  background: #000000 url('../img/bg.png') no-repeat center top;
}
.largeul {
  width: 100%;
  font-size: 13px;
  margin-bottom: 0;
}
.largeul li {
  text-align: justify;
  margin: 3px 0px;
}
.qr-modal {
  width: 320px;
}
.qr-modal .modal-content .modal-header,
.qr-modal .modal-content .modal-body {
  text-align: center;
}
/* line 152, ../sass/screen.scss */
.nav-tabs > li > a,
.nav-pills > li > a {
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #780000), color-stop(30%, #5a0000), color-stop(70%, #3c0000), color-stop(100%, #1e0000));
  background-image: -webkit-linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  background-image: -moz-linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  background-image: -o-linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  background-image: linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
}
/* line 163, ../sass/screen.scss */
.nav-tabs > li > a:hover,
.nav-pills > li > a:hover {
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a00000), color-stop(30%, #780000), color-stop(70%, #5a0000), color-stop(100%, #460000));
  background-image: -webkit-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -moz-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -o-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
}
/* line 173, ../sass/screen.scss */
.nav-tabs > li.active > a,
.nav-pills > li.active > a {
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a00000), color-stop(30%, #780000), color-stop(70%, #5a0000), color-stop(100%, #460000));
  background-image: -webkit-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -moz-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -o-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
}
input {
  width: 280px;
  font-size: 11px;
  padding: 4px 5px;
  border-radius: 6px;
  margin: 5px 0px;
  border: 2px solid #ad965f;
  color: #ffd479;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(200, 0, 0, 0.6)), color-stop(30%, rgba(150, 0, 0, 0.6)), color-stop(70%, rgba(125, 0, 0, 0.6)), color-stop(100%, rgba(100, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  background-image: -moz-linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  background-image: -o-linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  background-image: linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
}
/* line 117, ../sass/screen.scss */
input:hover,
input:focus,
input:active,
input.active,
input.disabled,
input[disabled] {
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(200, 0, 0, 0.9)), color-stop(30%, rgba(150, 0, 0, 0.9)), color-stop(70%, rgba(125, 0, 0, 0.9)), color-stop(100%, rgba(100, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
  background-image: -moz-linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
  background-image: -o-linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
  background-image: linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
}
.modal-body > ul {
  margin: 20px;
}
.navbar-bottom {
  max-height: 30px !important;
  min-width: 960px !important;
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 0px !important;
  overflow: hidden;
}
td {
  vertical-align: middle !important;
}
.bottom-wrap {
  margin-bottom: 20px;
  text-shadow: 2px 1px 3px #780000;
}
.bottom-wrap .column-bottom {
  position: inherit;
}
.bottom-wrap .column-bottom h2 {
  color: #ad965f;
  margin-bottom: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}
.bottom-wrap .column-bottom .counter {
  margin: 8px auto 0px auto;
  height: 116px;
  padding-top: 8px;
  color: #d6ae58;
  text-align: center;
}
.bottom-wrap .column-bottom .counter .counter-title {
  font-size: 26px;
  letter-spacing: -1px;
}
.bottom-wrap .column-bottom .counter .counter-numbers {
  font-size: 20px;
  height: 30px;
}
.bottom-wrap .column-bottom .counter .counter-subtitle {
  font-size: 14px;
}
.bottom-wrap .column-bottom .counter-middle {
  background: url("/dice/img/counter-middle-sm.png") no-repeat center;
}
.bottom-wrap .column-bottom .counter-left {
  background: url("/dice/img/counter-left-sm.png") no-repeat center;
}
.bottom-wrap .column-bottom .counter-right {
  background: url("/dice/img/counter-right-sm.png") no-repeat center;
}
.top-wrap {
  text-shadow: 2px 1px 3px rgba(255, 0, 0, 0.5);
  padding-bottom: 0px;
  margin-left: 0;
}
.top-wrap .column-left .btn-group {
  display: none;
}
.top-wrap .column-left h1 {
  font-size: 40px;
}
.top-wrap .column-left h2 {
  font-size: 24px;
  line-height: 120%;
  color: #ad965f;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}
.top-wrap .column-middle h1 {
  font-size: 22px;
  text-align: center;
  color: #ad965f;
  line-height: 140%;
  padding: 0 5%;
}
.top-wrap .column-right {
  text-align: center;
}
.top-wrap .column-right img {
  width: 313px;
}
.top-wrap .column-right h2 {
  line-height: 120%;
  font-size: 20px;
  color: #ad965f;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}
.top-wrap .column-right ul {
  margin-left: 0;
  margin-bottom: 0px;
  padding: 1% 1% 0% 0%;
  margin: 0 auto;
  color: #FFDB6E;
}
.top-wrap .column-right ul li {
  margin-bottom: 20px;
  padding-left: 50px;
  text-align: left;
  list-style: none;
  font-size: 12px;
}
.dice-canvas {
  position: absolute;
  z-index: 1;
}
#winning-numbers-outer {
  width: 500px;
  height: 100px;
  margin: 0 0 0 -250px;
  position: absolute;
  z-index: 10;
  left: 50%;
}
.winning-number {
  float: left;
  width: 100px;
  padding: 9px 0 0 0;
  text-align: center;
}
.noselect * img,
.noselect * button,
.noselect * .noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
table {
  background-color: #222;
  color: #ffd479;
  max-width: 100%;
  background-color: transparent;
  border: 0px !important;
}
table > h5,
table > div {
  color: #ffd479;
}
table * a,
table * a:link,
table * a:visited,
table * a:active {
  color: #ff0000;
}
table tr td,
table tr th {
  border-color: #000;
  border-style: solid;
  border: 1px solid #000 !important;
  background-color: #222;
}
.dropdown-menu {
  min-width: 100px;
  border-radius: 10px;
  color: #ffd479 !important;
  background-color: #330000!important;
}
.dropdown-menu li > a {
  text-align: center;
  margin: 5px 0px;
  background-image: none;
  color: #ffd479 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  background-color: #220000;
}
div#sliderContainer {
  height: 58px;
  margin: 5px auto 5px auto;
  padding: 15px 21px 0px 21px;
}
div#sliderContainer > div#slider {
  cursor: pointer;
  border-radius: 5px;
  height: 5px;
  position: relative;
  padding: 1px;
}
div#slider > span#sliderIndicator {
  float: left;
  background-color: #2bc253;
  border-radius: 20px 8px 8px 20px;
  font-weight: bold;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
div#slider > div#sliderButton {
  display: inline-block;
  left: 0;
  vertical-align: middle;
  position: absolute;
  margin-left: -15px;
  top: -11px;
  width: 26px;
  height: 26px;
  float: left;
  background-image: url('/img/bitcoin-small.png');
}
.balance {
  margin: 0px auto;
  width: 163px;
  display: inline-block;
}
.balance > div.numbers {
  position: relative;
  border: 0px;
  vertical-align: middle;
  text-align: left;
  color: #FFd479;
  border-radius: 5px;
  height: 26px;
  padding: 0px 3px;
  margin: 0px 0px;
  font-size: 16px;
}
.balance > div.numbersWager > input {
  margin: 0;
  height: 26px;
  display: inline-block;
  width: 136px;
  padding-left: 0px;
  background-color: transparent;
  border: 0px;
  color: #FFd479;
}
.panel-dark {
  background-color: #111;
  border: 1px solid #220000;
}
.indent-label {
  margin-bottom: 6px!important;
  margin-left: 18px!important;
}
.reply {
  font-weight: bold;
  font-size: 12px;
  margin: 9px 0 -3px 15px;
}
.date {
  margin-left: 15px;
  margin-bottom: 10px;
}
.well {
  background-color: #220000!important;
  border: 1px solid #111!important;
}
.nav-custom-bottom {
  background-color: #3d0000!important;
  border-radius: 0px!important;
  margin-bottom: 0px;
}
.betcoin-footer {
  color: #d6ae58 !important;
  font-size: 12px;
  font-weight: bold;
}
a.betcoin-footer:hover {
  background-color: transparent!important;
}
.nav-bottom-links li a {
  font-size: 12px;
  color: #d6ae58 !important;
}
.nav-bottom-links li a:hover {
  color: #FFDB6E !important;
  background-color: transparent!important;
}
.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d6ae58!important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ad965f!important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ad965f!important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ad965f!important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ad965f!important;
}
a#navigation {
  color: #f50000!important;
}
.content {
  margin-top: 70px;
}
.img-centered {
  max-width: 26%;
  margin: 0 auto;
}
#loading-mask {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  line-height: 200px;
  margin-left: -250px;
  background-color: #220000;
  text-align: center;
  /* needed styles for the overlay */
  z-index: 9999;
  /* keep on top of other elements on the page */
  outline: 9999px solid rgba(0, 0, 0, 0.5);
}
body {
  background-image: url("../img/bgr-mast.gif");
  background-repeat: repeat-x;
  background-size: 1240px 455px;
}
.largeul {
  width: 100%;
  font-size: 13px;
  margin-bottom: 0;
}
.largeul li {
  text-align: justify;
  margin: 3px 0px;
}
.qr-modal {
  width: 320px;
}
.qr-modal .modal-content .modal-header,
.qr-modal .modal-content .modal-body {
  text-align: center;
}
.middle-wrap .column-middle {
  margin: 0;
  padding: 0;
}
.middle-wrap ul.nav {
  margin: 20px 0px 30px;
  width: 940px;
}
.middle-wrap ul.nav li {
  width: 24.7%;
  text-align: center;
  margin: 0;
}
.gamedata .row {
  overflow: hidden;
}
.gamedata .row .col-lg-6 {
  width: 50%;
  float: left;
}
.gamedata .row .col-lg-6 img {
  max-width: 100%;
}
.gamedata .row .col-lg-6 .counter-numbers {
  white-space: nowrap;
}
.nav-tabs > li > a,
.tab-content > div > ul > li > a {
  padding: 5px;
  color: #ffd479 !important;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #780000), color-stop(30%, #5a0000), color-stop(70%, #3c0000), color-stop(100%, #1e0000));
  background-image: -webkit-linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  background-image: -moz-linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  background-image: -o-linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  background-image: linear-gradient(#780000, #5a0000 30%, #3c0000 70%, #1e0000);
  border-color: #550000 !important;
}
.nav-tabs > li > a:hover,
.tab-content > div > ul > li > a:hover {
  color: #ffd479 !important;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a00000), color-stop(30%, #780000), color-stop(70%, #5a0000), color-stop(100%, #460000));
  background-image: -webkit-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -moz-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -o-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  border-color: #ffd479 !important;
}
.nav-tabs > li.active > a,
.tab-content > div > ul > li.active > a {
  border-color: #ffd479;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a00000), color-stop(30%, #780000), color-stop(70%, #5a0000), color-stop(100%, #460000));
  background-image: -webkit-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -moz-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: -o-linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
  background-image: linear-gradient(#a00000, #780000 30%, #5a0000 70%, #460000);
}
/* line 104, ../sass/screen.scss */
input {
  border: 0px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(200, 0, 0, 0.6)), color-stop(30%, rgba(150, 0, 0, 0.6)), color-stop(70%, rgba(125, 0, 0, 0.6)), color-stop(100%, rgba(100, 0, 0, 0.6)));
  background-image: -webkit-linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  background-image: -moz-linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  background-image: -o-linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  background-image: linear-gradient(rgba(200, 0, 0, 0.6), rgba(150, 0, 0, 0.6) 30%, rgba(125, 0, 0, 0.6) 70%, rgba(100, 0, 0, 0.6));
  padding: 2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 117, ../sass/screen.scss */
input:hover,
input:focus,
input:active,
input.active,
input.disabled,
input[disabled] {
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(200, 0, 0, 0.9)), color-stop(30%, rgba(150, 0, 0, 0.9)), color-stop(70%, rgba(125, 0, 0, 0.9)), color-stop(100%, rgba(100, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
  background-image: -moz-linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
  background-image: -o-linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
  background-image: linear-gradient(rgba(200, 0, 0, 0.9), rgba(150, 0, 0, 0.9) 30%, rgba(125, 0, 0, 0.9) 70%, rgba(100, 0, 0, 0.9));
}
.modal-body > ul {
  margin: 20px;
}
.navbar-bottom {
  max-height: 30px !important;
  min-width: 960px !important;
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 0px !important;
  overflow: hidden;
}
.navbar-top {
  max-height: 30px !important;
  min-width: 960px !important;
  font-size: 12px;
  margin-bottom: 0px !important;
  overflow: hidden;
}
td {
  vertical-align: middle !important;
}
.bottom-wrap {
  margin-bottom: 20px;
  text-shadow: 2px 1px 3px #780000;
}
.bottom-wrap .column-bottom {
  position: inherit;
}
.bottom-wrap .column-bottom h2 {
  color: #ad965f;
  margin-bottom: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}
.bottom-wrap .column-bottom .counter {
  margin: 8px auto 0px auto;
  height: 116px;
  padding-top: 8px;
  color: #d6ae58;
  text-align: center;
}
.bottom-wrap .column-bottom .counter .counter-title {
  font-size: 26px;
  letter-spacing: -1px;
}
.bottom-wrap .column-bottom .counter .counter-numbers {
  font-size: 20px;
  height: 30px;
}
.bottom-wrap .column-bottom .counter .counter-subtitle {
  font-size: 14px;
}
.bottom-wrap .column-bottom .counter-middle {
  background: url("../img/counter-middle-sm.png") no-repeat center;
}
.bottom-wrap .column-bottom .counter-left {
  background: url("../img/counter-left-sm.png") no-repeat center;
}
.bottom-wrap .column-bottom .counter-right {
  background: url("../img/counter-right-sm.png") no-repeat center;
}
.top-wrap {
  text-shadow: 2px 1px 3px rgba(255, 0, 0, 0.5);
  padding-bottom: 0px;
  margin-left: 0;
}
.top-wrap .column-left .btn-group {
  display: none;
}
.top-wrap .column-left h1 {
  font-size: 40px;
}
.top-wrap .column-left h2 {
  font-size: 24px;
  line-height: 120%;
  color: #ad965f;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}
.top-wrap .column-middle h1 {
  font-size: 22px;
  text-align: center;
  color: #ad965f;
  line-height: 140%;
  padding: 0 5%;
}
.top-wrap .column-right {
  text-align: center;
}
.top-wrap .column-right img {
  width: 313px;
}
.top-wrap .column-right h2 {
  line-height: 120%;
  font-size: 20px;
  color: #ad965f;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}
.top-wrap .column-right ul {
  margin-left: 0;
  margin-bottom: 0px;
  padding: 1% 1% 0% 0%;
  margin: 0 auto;
  color: #FFDB6E;
}
.top-wrap .column-right ul li {
  margin-bottom: 20px;
  padding-left: 50px;
  text-align: left;
  list-style: none;
  font-size: 12px;
}
.logo-centered {
  width: 244px;
  margin: 0 auto;
}
.content-centered {
  width: 100%;
  margin: 0 auto;
}
#prize .content {
  margin-top: 48px!important;
}
.clear-div {
  clear: both;
  margin-top: 30px;
}
#prize .column-right {
  margin-top: 0px!important;
}
#prize .days {
  font-size: 17px;
}
@media screen and (max-width: 1252px) {
  .top-wrap .column-right {
    margin: 60px 0 20px;
  }
  .nobr {
    white-space: nowrap;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: auto !important;
  }
  .middle-wrap ul.nav {
    width: auto;
  }
  .middle-wrap ul.nav li {
    width: 25%;
    text-align: center;
  }
  .navbar-top,
  .navbar-bottom {
    min-width: 0px !important;
  }
}
@media screen and (max-width: 770px) {
  .gamedata > .row > .col-lg-6 {
    width: 100%;
    float: none;
  }
  .gamedata > .row {
    margin: 50px 0;
  }
  .navbar-nav {
    margin: 0 5px;
  }
}
@media screen and (max-width: 660px) {
  body {
    background: #000;
  }
  .container {
    padding: 0;
  }
  .top-wrap {
    overflow: hidden;
  }
  .top-wrap .column-left {
    background: url("../img/bgr-mast.gif") center bottom no-repeat;
    padding: 10px 20px 20px;
  }
  .largeul {
    padding: 0 0 0 16px;
  }
  pre {
    margin: 10px;
  }
  #proof {
    margin: 0 10px;
  }
}
@media screen and (max-width: 580px) {
  .nobr {
    white-space: normal;
  }
  .counter-right img {
    max-width: 100%;
  }
  .middle-wrap ul.nav > li {
    display: block;
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 390px) {
  .gamedata > .row .img {
    width: 25%;
  }
  .gamedata > .row .img img {
    margin-top: 40%;
  }
  .gamedata > .row .info {
    width: 75%;
  }
  .gamedata > .row .column-bottom {
    width: 100%;
    float: none;
  }
}
