
<div class="row">

    <div class="col-6 col-lg-6 column-bottom">
        <div class="counter counter-left">
            <div class="counter-numbers">฿ {{ gamedata.totalPayout | btctwo }} BTC</div>
            <div class="counter-subtitle" style="margin-top:-1px;">$ {{ gamedata.totalPayout | btcusd:exchange}} USD</div>
            <div class="counter-title"><a style="color:#D6AE58;text-decoration:underline;" ng-href="http://blockchain.info/address/{{gamedata.payoutAddress}}" target="_blank">Jackpot</a></div>               
        </div>
    </div>

    <div class="col-6 col-lg-6 column-bottom">
        <div class="counter counter-right">
            <div class="counter-numbers">
                <span ng-show="timers[gamedata.game].daysLeft > 0">{{ timers[gamedata.game].daysLeft }} <span ng-show="timers[gamedata.game].daysLeft > 1"><span class="days">Days</span> </span> <span ng-hide="timers[gamedata.game].daysLeft > 1"><span class="days">Day</span> </span> </span>
                {{ timers[gamedata.game].timeString }}</div>
            <div class="counter-subtitle" style="margin-top:-1px;">1 BTC = $ {{exchange | noFractionCurrency}} USD</div>
            <div class="counter-title">Time Left</div>
        </div>
    </div>
</div>    
          
